[dev-packages]
autopep8 = "*"
flake8 = "*"
mypy = "*"
black = "*"

[packages]

[requires]
python_version = "3.7"

[scripts]
start = "python main.py"
test = "python -m unittest discover -v"
format = "black ."
lint = "flake8 --show-source ."
vet = "mypy <<PROJECT>>"

[pipenv]
allow_prereleases = true
